body {
  background-color: rgb(240, 240, 240);
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  color: rgb(80, 80, 80);
}

h1 {
  font-family: 'Raleway', sans-serif;
  color: #a1c45a;
  font-weight: 700;
  font-size: 25px;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 20px;
}

h3 {
  font-size: 16px;
}

a {
  color: rgb(200, 200, 200);
  text-decoration: none;
}

a:hover {
  color: #a1c45a;
  text-decoration: none;
}

.container {
  width: 700px;
  margin: 30px auto;
}

#sidebar {
  position: fixed;
  width: 120px;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: rgb(80, 80, 80)
}

#sidebar > ul > li > a {
  color: rgba(255, 255, 255, 0.3);
  font-size: 25px;
}

#sidebar > ul > li > a:hover {
  color: rgb(255, 255, 255);
  font-size: 25px;
}

#sidebar > ul > li {
  margin: 50px auto;
  text-align: center;
}

#page-content {
  margin-left: 120px;
}

.card-white {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

#profile-pic {
  width: 30%;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.img-circle {
  border-radius: 50%;
}

.border-grey {
  border: 4px solid rgb(240, 240, 240);
}

.button-green {
  background-color: #a1c45a;
  border-radius: 5px;
  padding: 10px;
  color: white;
  font-weight: 400;
}

.button-green:hover {
  background-color: #759a2c;
  color: white;
}

.list-inline > li {
  display: inline-block;
  padding: 10px 15px;
}

ul {
  padding-left: 0;
}

.fa-facebook-f:before, .fa-instagram:before, .fa-linkedin-in:before {
  font-size: 25px;
}

table > tbody > tr > td > img {
  width: 100px;
  padding: 0px 20px 0px 0px;
}

.fa-heart:before, .fa-share:before, .fa-star:before {
  font-size: 25px;
}

#copyright {
  font-size: 14px;
  color: rgb(180, 180, 180);
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 800px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
